@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-header-container {
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation {
  display: flex;
  width: 880px;
  margin-right: auto;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
  margin-bottom: -6px;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 90px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
}

.notification-badge {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
}

.favorite-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7db54f;
  text-align: center;
  border: none;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #d9eaf2;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 70px;
}

.lead {
  max-width: 620px;
  margin: 0 auto 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list-title {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-img {
  display: block;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  background-color: #82b3d3;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

.advantages-item-wide .advantages-description {
  color: #ffffff;
}


.infrastructure {
  padding-top: 64px;
}

.infrastructure-lead {
  max-width: 510px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-lead-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.infrastructure-item {
  width: 230px;
  padding: 180px 85px 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.infrastructure-description {
  color: #333333;
  text-align: center;
}

.search {
  padding: 96px 300px 96px;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
}

.subscribe {
  padding: 96px 250px 104px;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-theme-custom {
  color: #ffffff;
  background-color: #8daab8;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-name {
  margin: 0;
}

.subscribe-form-name input {
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.subscribe-button {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-align: center;
  border: none;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer-container {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  min-height: 14px;
  width: 25px;
  padding: 13px 10px;
}

.footer-phone {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.copyright {
  width: 115px;
}

.htmlacademy-logo {
  display: block;
}

.main-inner-header {
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #87a4c4;
  background-image: url("../images/background-filters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-inner-header-container {
  padding-left: 70px;
  padding-right: 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter-range-control input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-filter-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
}

.catalog-filter-reset {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  border: none;
}

.catalog-products {
  padding-top: 50px;
}

.catalog-products-container {
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-products-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.view-buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.view-button-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.view-button-item:last-child {
  margin-right: 0;
}

.view-button-tile {
  display: block;
}

.view-button-card {
  display: block;
}

.view-button-list {
  display: block;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 300px;
  padding: 20px;
  color: #333333;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-image {
  display: block;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
}

.product-card-rating {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

.add-favorite-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  text-align: center;
  border: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
